<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='../../css/styles.css' />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600|Titillium+Web:400,600' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel='stylesheet' href='../../node_module/bootstrap/dist/css/bootstrap.min.css' />
  <link rel='javascript' href='../../node_module/bootstrap/dist/js/bootstrap.min.js' />

</head>
<body>
  <div class="container-fluid">

      <nav class="navbar navbar-custom">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="header-links" >Home</a></li>
          <li><a class="header-links" id="about">About</a></li>
          <li><a class="header-links" id="projects">Projects</a></li>
          <li><a class="header-links" id="contact">Contact</a></li>
        </ul>
      </nav>
    <section id="row1">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
              <h1 class="main-header">Build Your App Today</h1>
              <h3 class="main-description">We build mobile and web apps</h3>
            </div>
      </div>
    </div>
  </section>
    <section id="row2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
              <h1 class="mobile-header">Mobile</h1>
              <h3 class="mobile-description">We build mobile applications with React Native</h3>
            </div>
        <div class="col-md-4">
          <h3 class="mobile-title">Newvuew.com</h3>
          <img id="mobile1" src="../../images/iphone.png" style="height: 500px; width: 250px; display: block; margin: 0 auto;">
              <h5 class="summary-mobile">An application that finds locals that share the same passions as you. Connect with them and collaborate or create a project from sports, art, to film.</h5>
            </div>
        <div class="col-md-4">
          <h3 class="mobile-title">Docit.com</h3>
          <img id="mobile2" src="../images/iphone.png" style="height: 500px; width: 250px; display: block; margin: 0 auto;">
              <h5 class="summary-mobile">A mobile application that manages the time you spend on every activity. The app will track your activities and provide you feedback on the best way to save time.</h5>
            </div>
        <div class="col-md-4">
          <h3 class="mobile-title">Pregreat.com</h3>
          <img id="mobile3" src="../images/iphone.png" style="height: 500px; width: 250px; display: block; margin: 0 auto;">
              <h5 class="summary-mobile">A website site that shows the journey of Junjie Jiang on his path the greatness. The name might say pregreat for now, but in the future it will just be great.</h5>
        </div>
      </div>
    </div>
  </section>
  <section id="row2-mobile1" class="hidden">
      <a href="#" id="mobile1-exit">
        <span class="glyphicon glyphicon-remove-circle" style="color:black; font-size: 30px;"></span>
      </a>
      <h3 class="laptop-title">Newvuew.com</h3>
      <div class="col-md-6">
        <img src="../images/iphone.png" style="height: 500px; width: 250px; display: block; margin: 0 auto;">
      </div>
      <div class="col-md-6">
        <h5 class="summary-mobile-popup">Shabby chic vape art party polaroid, vegan distillery blue bottle XOXO pinterest. Sartorial kombucha yr, cold-pressed you
          probably haven't heard of them scenester health goth literally +1 taxidermy hella. Portland vaporware cold-pressed sriracha. Biodiesel unicorn hashtag
          four dollar toast, keffiyeh raw denim lo-fi pork belly austin try-hard thundercats green juice. Blue bottle activated charcoal irony 8-bit, enamel pin direct
          trade migas ethical gastropub master cleanse. Thundercats next level vice, hoodie plaid live-edge cray hot chicken single-origin coffee chia. Thundercats
          vaporware godard kitsch, banh mi subway tile XOXO narwhal glossier blue bottle paleo.</h5>
      </div>
  </section>
  <section id="row2-mobile2" class="hidden">
      <a href="#" id="mobile2-exit">
        <span class="glyphicon glyphicon-remove-circle" style="color:black; font-size: 30px;"></span>
      </a>
      <div class="col-md-12">
        <h3 class="laptop-title">Docit.com</h3>
        <img src="../images/iphone.png" style="height: 500px; width: 250px; display: block; margin: 0 auto;">
      </div>
  </section>
  <section id="row2-mobile3" class="hidden">
      <a href="#" id="mobile3-exit">
        <span class="glyphicon glyphicon-remove-circle" style="color:black; font-size: 30px;"></span>
      </a>
      <div class="col-md-12">
        <h3 class="laptop-title">Pregreat.com</h3>
        <img src="../images/iphone.png" style="height: 500px; width: 250px; display: block; margin: 0 auto;">
      </div>
  </section>
  <section id="row3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
              <h1 class="laptop-header">Web</h1>
              <h3 class="laptop-description">We build full stack web applications</h3>
            </div>
        <div class="col-md-4">
          <h3 class="laptop-title">Newvuew.com</h3>
          <img id="laptop1" src="../../images/macbook.png" style="height: 200px; width: 350px; display: block; margin: 0 auto;">
              <h5 class="summary-laptop">An application that finds locals that share the same passions as you. Connect with them and collaborate or create a project from sports, art, to film.</h5>
            </div>
        <div class="col-md-4">
          <h3 class="laptop-title">Docit.com</h3>
          <img id="laptop2" src="../images/macbook.png" style="height: 200px; width: 350px; display: block; margin: 0 auto;">
              <h5 class="summary-laptop">A mobile application that manages the time you spend on every activity. The app will track your activities and provide you feedback on the best way to save time.</h5>
            </div>
        <div class="col-md-4">
          <h3 class="laptop-title">Pregreat.com</h3>
          <img id="laptop3" src="../images/macbook.png" style="height: 200px; width: 350px; display: block; margin: 0 auto;">
              <h5 class="summary-laptop">A website site that shows the journey of Junjie Jiang on his path the greatness. The name might say pregreat for now, but in the future it will just be great.</h5>
        </div>
      </div>
    </div>
  </section>
  <section id="row4-laptop1" class="hidden">
      <a href="#" id="laptop1-exit">
        <span class="glyphicon glyphicon-remove-circle" style="color:black; font-size: 30px;"></span>
      </a>
      <div class="col-md-12 laptop1-container">
        <img src="../images/macbook.png" style="height: 350px; width: 600px; display: block; margin: 0 auto; ">
      </div>
  </section>
  <section id="row4-laptop2" class="hidden">
      <a href="#" id="laptop2-exit">
        <span class="glyphicon glyphicon-remove-circle" style="color:black; font-size: 30px;"></span>
      </a>
      <div class="col-md-12">
        <h3 class="laptop-title">Docit.com</h3>
        <img src="../images/macbook.png" style="height: 75vh; width: 70vw; display: block; margin: 0 auto;">
      </div>
  </section>
  <section id="row4-laptop3" class="hidden">
      <a href="#" id="laptop3-exit">
        <span class="glyphicon glyphicon-remove-circle" style="color:black; font-size: 30px;"></span>
      </a>
      <div class="col-md-12">
        <h3 class="laptop-title">Pregreat.com</h3>
        <img src="../images/macbook.png" style="height: 75vh; width: 70vw; display: block; margin: 0 auto;">
      </div>
  </section>

  <section id="row5">
      <div class="container-fluid">


      <div class="row">
        <div class="col-md-12">
            <h1 class="laptop-header">Our promise</h1>
            <h3 class="laptop-description">We build the whole package for any application</h3>
          </div>
      <div class="col-md-4">
        <div class="tasks">
          <span class="glyphicon glyphicon-star"></span>
          <h3 class="laptop-title">Ideas</h3>
            <h5 class="summary-task">An application that finds locals that share the same passions as you. Connect with them and collaborate or create a project from sports, art, to film.</h5>
          </div>
          </div>
      <div class="col-md-4">
        <div class="tasks">
          <span class="glyphicon glyphicon-ok"></span>
          <h3 class="laptop-title">Quality Code</h3>
            <h5 class="summary-task">A mobile application that manages the time you spend on every activity. The app will track your activities and provide you feedback on the best way to save time.</h5>
          </div>
        </div>
      <div class="col-md-4">
        <div class="tasks">
          <span class="glyphicon glyphicon-signal"></span>
          <h3 class="laptop-title">Optimization</h3>
            <h5 class="summary-task">A website site that shows the journey of Junjie Jiang on his path the greatness. The name might say pregreat for now, but in the future it will just be great.</h5>
      </div>
    </div>
    </div>

    <div class="row">
    <div class="col-md-4">
      <div class="tasks">
        <span class="glyphicon glyphicon-pencil"></span>
        <h3 class="laptop-title">UI/UX</h3>
          <h5 class="summary-task">An application that finds locals that share the same passions as you. Connect with them and collaborate or create a project from sports, art, to film.</h5>
        </div>
        </div>
    <div class="col-md-4">
      <div class="tasks">
        <span class="glyphicon glyphicon-th-list"></span>
        <h3 class="laptop-title">Responsive Design</h3>
          <h5 class="summary-task">A mobile application that manages the time you spend on every activity. The app will track your activities and provide you feedback on the best way to save time.</h5>
        </div>
      </div>
    <div class="col-md-4">
      <div class="tasks">
        <span class="glyphicon glyphicon-equalizer"></span>
        <h3 class="laptop-title">Information Architecture</h3>
          <h5 class="summary-task">A website site that shows the journey of Junjie Jiang on his path the greatness. The name might say pregreat for now, but in the future it will just be great.</h5>
    </div>
  </div>
  </div>


  <div class="row">
  <div class="col-md-4">
    <div class="tasks">
      <span class="glyphicon glyphicon-blackboard"></span>
      <h3 class="laptop-title">Web Applications</h3>
        <h5 class="summary-task">An application that finds locals that share the same passions as you. Connect with them and collaborate or create a project from sports, art, to film.</h5>
      </div>
      </div>
  <div class="col-md-4">
    <div class="tasks">
      <span class="glyphicon glyphicon-phone"></span>
      <h3 class="laptop-title">Mobile Applications</h3>
        <h5 class="summary-task">A mobile application that manages the time you spend on every activity. The app will track your activities and provide you feedback on the best way to save time.</h5>
      </div>
    </div>
  <div class="col-md-4">
    <div class="tasks">
      <span class="glyphicon glyphicon-gift"></span>
      <h3 class="laptop-title">Web and Mobile Packages</h3>
        <h5 class="summary-task">A website site that shows the journey of Junjie Jiang on his path the greatness. The name might say pregreat for now, but in the future it will just be great.</h5>
  </div>
</div>
</div>



  </div>
    </div>
  </section>
  </div>
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous">

  </script>
  <script type="text/javascript" src="../javascript/main.js"></script>
</body>

<footer>

  <section id='#shareIcon'>

  </section>

  <section id='#nextProject'>

  </section>

  <section id='#copyRigth'>

  </section>

</footer>

</html>
