<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="http://cdn.bootcss.com/animate.css/3.5.1/animate.min.css">
</head>

<body>

<div class="container-fluid">

  <section class='backgroundPicture'>
      <section id="row1">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
                <h1 class="main-header">Build Your App Today</h1>
                <h3 class="main-description">We build mobile and web apps</h3>
              </div>
        </div>
      </div>
    </section>

  </section>



    <section id="row2">
      <div class="container-fluid">
        <div class="row">
        <div class="col-md-6 mobile-block">
          <h3 class="mobile-title">Web Applications</h3>
              <h5 class="summary-mobile">An application that finds locals that share the same passions as you. Connect with them and collaborate or create a project from sports, art, to film.
                An application that finds locals that share the same passions as you. Connect with them and collaborate or create a project from sports, art, to film.
                An application that finds locals that share the same passions as you. Connect with them and collaborate or create a project from sports, art, to film.
              </h5>
            </div>
        <div class="col-md-6 mobile-image">
          <img id="mobile2" src="assets/images/imac.jpg">
        </div>
      </div>
      <div class="row">
      <div class="col-md-6 mobile-image">
        <img id="mobile2" src="assets/images/laptop2.jpg">
          </div>
          <div class="col-md-6 mobile-block">
            <h3 class="mobile-title">SEO Optimization</h3>
                <h5 class="summary-mobile">An application that finds locals that share the same passions as you. Connect with them and collaborate or create a project from sports, art, to film.
                  An application that finds locals that share the same passions as you. Connect with them and collaborate or create a project from sports, art, to film.
                  An application that finds locals that share the same passions as you. Connect with them and collaborate or create a project from sports, art, to film.
                </h5>
              </div>
      </div>
      <div class="row">
      <div class="col-md-6 mobile-block">
        <h3 class="mobile-title">Responsive Design</h3>
            <h5 class="summary-mobile">An application that finds locals that share the same passions as you. Connect with them and collaborate or create a project from sports, art, to film.
              An application that finds locals that share the same passions as you. Connect with them and collaborate or create a project from sports, art, to film.
              An application that finds locals that share the same passions as you. Connect with them and collaborate or create a project from sports, art, to film.
            </h5>
          </div>
      <div class="col-md-6 mobile-image">
        <img id="mobile2" src="assets/images/webdesign.jpg">
      </div>
    </div>
    </div>
  </section>

  <section id="row3">
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-6 mobile-image">
      <img id="mobile2" src="assets/images/iphone4.jpg">
        </div>
        <div class="col-md-6 mobile-block">
          <h3 class="mobile-title">Mobile Applications</h3>
              <h5 class="summary-mobile">An application that finds locals that share the same passions as you. Connect with them and collaborate or create a project from sports, art, to film.
                An application that finds locals that share the same passions as you. Connect with them and collaborate or create a project from sports, art, to film.
                An application that finds locals that share the same passions as you. Connect with them and collaborate or create a project from sports, art, to film.
              </h5>
            </div>
    </div>
    <div class="row">
    <div class="col-md-6 mobile-block">
      <h3 class="mobile-title">Android Platform</h3>
          <h5 class="summary-mobile">An application that finds locals that share the same passions as you. Connect with them and collaborate or create a project from sports, art, to film.
            An application that finds locals that share the same passions as you. Connect with them and collaborate or create a project from sports, art, to film.
            An application that finds locals that share the same passions as you. Connect with them and collaborate or create a project from sports, art, to film.
          </h5>
        </div>
    <div class="col-md-6 mobile-image">
      <img id="mobile2" src="assets/images/android.jpg">
    </div>
  </div>
  <div class="row">
  <div class="col-md-6 mobile-image">
    <img id="mobile2" src="assets/images/iphone6.jpg">
      </div>
      <div class="col-md-6 mobile-block">
        <h3 class="mobile-title">IOS Platform</h3>
            <h5 class="summary-mobile">An application that finds locals that share the same passions as you. Connect with them and collaborate or create a project from sports, art, to film.
              An application that finds locals that share the same passions as you. Connect with them and collaborate or create a project from sports, art, to film.
              An application that finds locals that share the same passions as you. Connect with them and collaborate or create a project from sports, art, to film.
            </h5>
          </div>
  </div>
  </div>
  </section>
  <section id="row4-laptop1" class="hidden">
      <a href="#" id="laptop1-exit">
        <span class="glyphicon glyphicon-remove-circle" style="color:black; font-size: 30px;"></span>
      </a>
      <div class="col-md-12 laptop1-container">
        <img src="assets/images/macbook.png" style="height: 350px; width: 600px; display: block; margin: 0 auto; ">
      </div>
  </section>
  <section id="row4-laptop2" class="hidden">
      <a href="#" id="laptop2-exit">
        <span class="glyphicon glyphicon-remove-circle" style="color:black; font-size: 30px;"></span>
      </a>
      <div class="col-md-12">
        <h3 class="laptop-title">Docit.com</h3>
        <img src="assets/images/macbook.png" style="height: 75vh; width: 70vw; display: block; margin: 0 auto;">
      </div>
  </section>
  <section id="row4-laptop3" class="hidden">
      <a href="#" id="laptop3-exit">
        <span class="glyphicon glyphicon-remove-circle" style="color:black; font-size: 30px;"></span>
      </a>
      <div class="col-md-12">
        <h3 class="laptop-title">Pregreat.com</h3>
        <img src="assets/images/macbook.png" style="height: 75vh; width: 70vw; display: block; margin: 0 auto;">
      </div>
  </section>

  <!-- <section id="row5">
      <div class="container">


      <div class="row">
        <div class="col-md-12">
            <h1 class="laptop-header">Our promise</h1>
            <h3 class="laptop-description">We build the whole package for any application</h3>
          </div>
      <div class="col-md-4">
        <div class="tasks">
          <span class="glyphicon glyphicon-star"></span>
          <h3 class="laptop-title">Ideas</h3>
            <h5 class="summary-task">We help bring the creativity to any application. We brainstorm many solutions for all your needs.</h5>
          </div>
          </div>
      <div class="col-md-4">
        <div class="tasks">
          <span class="glyphicon glyphicon-ok"></span>
          <h3 class="laptop-title">Quality Code</h3>
            <h5 class="summary-task">We bring production ready code for every project. Our code is easy to read and elegant in form. </h5>
          </div>
        </div>
      <div class="col-md-4">
        <div class="tasks">
          <span class="glyphicon glyphicon-signal"></span>
          <h3 class="laptop-title">Optimization</h3>
            <h5 class="summary-task">We deliver the fasteset web and mobile applications. Our goal is to build the best design and efficient applications.</h5>
      </div>
    </div>
    </div>

    <div class="row">
    <div class="col-md-4">
      <div class="tasks">
        <span class="glyphicon glyphicon-pencil"></span>
        <h3 class="laptop-title">UI/UX</h3>
          <h5 class="summary-task">We will help create wireframes for user flow and experience. The technologies used range from Adobe Illustrator, Sketch, and Figma.</h5>
        </div>
        </div>
    <div class="col-md-4">
      <div class="tasks">
        <span class="glyphicon glyphicon-th-list"></span>
        <h3 class="laptop-title">Responsive Design</h3>
          <h5 class="summary-task">We build fully responsive websites ranging from large desktops to mobile devices.</h5>
        </div>
      </div>
    <div class="col-md-4">
      <div class="tasks">
        <span class="glyphicon glyphicon-equalizer"></span>
        <h3 class="laptop-title">Information Architecture</h3>
          <h5 class="summary-task">We design and build your application using the best coding architecture for performance.</h5>
    </div>
  </div>
  </div>


  <div class="row">
  <div class="col-md-4">
    <div class="tasks">
      <span class="glyphicon glyphicon-blackboard"></span>
      <h3 class="laptop-title">Web Applications</h3>
        <h5 class="summary-task">We build all web applications using the MERN (MongoDB, ExpressJS, ReactJS, and NodeJS) stack.</h5>
      </div>
      </div>
  <div class="col-md-4">
    <div class="tasks">
      <span class="glyphicon glyphicon-phone"></span>
      <h3 class="laptop-title">Mobile Applications</h3>
        <h5 class="summary-task">We build mobile applications using React Native. This allows us to build an application for both Android and IOS in half the time.</h5>
      </div>
    </div>
  <div class="col-md-4">
    <div class="tasks">
      <span class="glyphicon glyphicon-gift"></span>
      <h3 class="laptop-title">Web and Mobile Packages</h3>
        <h5 class="summary-task">We build both the web and mobile applications for any idea. Our coding stack allows us to transfer code from web to mobile with ease.</h5>
  </div>
</div>
</div>



  </div>
    </div>
  </section> -->
  </div>
  <script type="text/javascript" src="assets/javascript/main.js"></script>
</body>

<footer>
  <section id='monitor'>
    <div class='container-fluid text-center monitor'>
          <img src="assets/image/macMonitor.jpg" alt="Paris">
          <div class='monitorVideo'>
            <video id='videoinsidemonitor' autoplay='' loop='loop'><source src='/assets/video/nextProject.mp4' type='video/mp4'>There was a problem loading video on your browser.</video>
            

          </div>
    </div>
  </section>

 <!--  <section id='testimonial'>
    <div class='container-fluid' style="padding-right: 0px;
    padding-left: 0px;">
        <div class="text-center"  style='background-color: #F8F8F8'>
                <h1 class="shareText">What People Are Saying</h1>
        </div>
        <div >
          <div class='col-sm-6 hidden-xs' style='padding-left: 0px;    padding-right: 0px;'>
              <div class='ipadleft'>
                  <img class='ipadImage' src="assets/image/ipad.png" alt="Paris">
              </div>
          </div>
          <div class='col-sm-6 col-xs-12 textRight'>
              <h6 class='testimonialText'>
                  J&E lets you shine, it lets you put your thoughts toegether in a very concise format and it realy helps you present your best face.
              </h6>
                <div class='text-center' style="margin-top: 25px;">
                  <img class="img-circle" width="75" height='75' src="assets/image/ipad.png" alt="Paris">
                  <p class='nameText'>
                  Pat Guevara
                  </p>
                  <span class='citeText'>
                      SearchGlobal Ventures
                  </span>
                </div>

          </div>
          <div class='col-sm-6 col-xs-12 textRight'>

              <h6 class='testimonialText'>
                  J&E lets you shine, it lets you put your thoughts toegether in a very concise format and it realy helps you present your best face.
              </h6>
                <div class='text-center' style="margin-top: 25px;">
                  <img class="img-circle" width="75" height='75' src="assets/image/ipad.png" alt="Paris">
                  <p class='nameText'>
                  Pat Guevara
                  </p>
                  <span class='citeText'>
                      SearchGlobal Ventures
                  </span>
                </div>

          </div>
           <div class='col-sm-6 hidden-xs' style='padding-left: 0px;    padding-right: 0px;'>
              <div class='ipadleft'>
                  <img class='ipadImage' src="assets/image/ipad.png" alt="Paris">
              </div>
          </div>

        </div>
    </div>
  </section> -->

  <section id='testimonialNew'>
        <div id="first-slider">
        <div id="carousel-example-generic" class="carousel slide carousel-fade" data-interval="10000">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <!-- Item 1 -->
                <div class="item active slide1">
                    <div class="row"><div class="container">
                        <div class="col-md-3 text-right">
                            <img class="img-circle" data-animation="animated zoomInLeft"  src="https://s3.amazonaws.com/uifaces/faces/twitter/mijustin/128.jpg" style="width: 150px;height:150px;">
                        </div>
                        <div class="col-md-9 text-left">
                            <h3 data-animation="animated bounceInDown">Pat Guevara</h3>
                            <h6 class='testimonialText' data-animation="animated bounceInUp">J&E lets you shine, it lets you put your thoughts toegether in a very concise format and it realy helps you present your best face.</h6>             
                         </div>
                    </div></div>
                 </div> 
                <!-- Item 2 -->
                <div class="item slide2">
                    <div class="row"><div class="container">
                        <div class="col-md-7 text-left">
                            <h3 data-animation="animated bounceInDown">Missha Watson</h3>
                            <h6 class='testimonialText' data-animation="animated bounceInUp">Junjie and Eric transformed a tired, dated, and ineffective website for a non-profit I’m involved with into a contemporary and great site! We got our website up faster than I expected, and the results are outstanding.</h6>     
                         </div>
                        <div class="col-md-5 text-right">
                            <img class="img-circle" data-animation="animated zoomInLeft"  src="https://s3.amazonaws.com/uifaces/faces/twitter/keizgoesboom/128.jpg" style="width: 150px;height:150px;">
                        </div>
                    </div></div>
                </div>
        
            </div>
            <!-- End Wrapper for slides-->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
            </a>
        </div>
    </div>

  </section>

  <section id='nextProject'>
      <div id='videoText' class="text-center">
          <h5>Doc It</h5>
          <h1>Next Project</h1>
          <a id='seemore' href='#'>see more</a>
      </div>

  </section>


  <section id='shareicon'>
                <div class="text-center">
                <h6 class="shareText">share</h6>
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Contact Us"><i class="fa fa-envelope"></i></a></li>
                    </ul>
        </div>
  </section>


  <section id='copyright'>
      <div class="text-center">

          <p><i class="fa fa-copyright" aria-hidden="true"></i> J&E 2017 - 1080 Folsom Street  •  </p>
          <a href="#">JEProduct@gmail.com</a>
      </div>
  </section>
  <script type="text/javascript" src="assets/javascript/footer.js"></script>
</footer>

</html>
