<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Nuevuew</title>
  <!-- CSS files for Bootstrap -->

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> 

 <link href="https://fonts.googleapis.com/css?family=Crete+Round|Raleway" rel="stylesheet">

  <!-- prath@joinhorizons.com
        password: password -->
  <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>
<div class="container-fluid row1">
    <div class="col-md-3">
      <div class="profileleft">
      <div class="coverpicture">
        <img src="http://www.mountainpartnership.org/uploads/pics/5136376407_b086a53318_b.jpg" style="height: 300px; width: 100%; opacity: 1; z-index: -1;">
      </div>

        <div class="profilepicture">
          <img src="http://www.pregreat.com/assets/Growing.jpg" style="height: 200px; width: 200px; border-radius: 50%; z-index: 100;">
        </div>
        <h1 class="profileheader">Junjie Jiang</h1>
        <div class="col-md-4">
          <h4>Age: 22</h4>
        </div>
        <div class="col-md-4">
          <h4>Gender: Male</h4>
        </div>
        <div class="col-md-4">
          <h4>Interests: Outdoors</h4>
        </div>
        <div class="col-md-12 ">
          <p>Bio:  name is Junjie Jiang. I created this website to help myself become more accountable as well as document my life so I can look back in the future. The ultimate goal is to inspire people can share their goals.
         </p>
        </div>
      </div>
      </div>
      <div class="col-md-9 videoright">
        <div class="profileright">
        <div class="col-md-12">
        <div id="videocontainer">
          <video id="coverVid" poster="Book2.jpg" autoplay="true" loop="true" muted="true">
            <source src="video.mp4" type="video/mp4">
         </video>
        </div>
        </div>
        <button type="button" name="goToRegistration" class="hide">Go to Registration</button><br>
        </div>
      </div>
  </div>
      

  </body>
  </html>