@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('fonts/glyphicons-halflings-regular.eot');
    src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.backgroundPicture {
    background: url('../images/eric1.jpg') center no-repeat;
     margin:0 auto; height:auto;
}
.navbar-custom {
    background-color: transparent;
    color: #FAFAFA;
}
.nav>li>a:hover {
    cursor: pointer;
}
.header-links{
  color: #FAFAFA;
}
.header-links:hover{
  color: #FAFAFA;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.container-fluid {
   padding: 0 !important;
   margin: 0 !important;
}
.navbar {
  min-height: 0;
  height: 0px;
  margin-bottom: 0px;
  border: 0px;
}
.navbar-right{
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  margin-right: 20px;
  margin-top: 20px;
}
h1{
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
}
h2{
  font-size: 3.5rem;
  font-family: 'Montserrat', sans-serif;
}
h3{
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}
h4{
  font-size: 2.0rem;
  font-family: 'Montserrat', sans-serif;
}
h5{
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}
h6{
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
}
p{
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}
span{
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

/*footer*/


/*Next project scene*/

  #nextProject{
      background-color: #EEEEEE;
  }

  #nextProject h5{
    text-transform: uppercase;
  }

  #nextProject h1{
    font-size: 6rem;
    font-weight: bolder;
    margin-top: 0px;
    margin-bottom: 30px;
  }

  #nextProject a{
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: underline;
    color: #262526;

  }

  #videoText{
    padding-top: 75px;
    padding-bottom: 100px;
  }


  /*last part of the footer*/

  #copyright{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #383632;
  }

  #copyright p{
    font-size: 1.25rem;
    display:inline;
  }

  #copyright a{
    font-size: 1.25rem;
    text-decoration: underline;
    color: #383632;
  }

  #videoDiv {
    margin: auto;
    overflow: hidden;
    max-height: 383px;
    padding: 0;
  }

  @media only screen and (max-width : 992px) {
  #videoDiv{display:none;}
  }

  .embed-responsive{
    min-height: 383px;
  }


  /*testimonial section*/


  #testimonial .shareText{
    margin-bottom: 0px;
    margin-top: 0px;
  }
  #testimonial h1{
    padding-top: 80px;
    padding-bottom: 100px;
    color: #333333;
    font-weight: lighter;
  }

  .ipadleft {
    background-color: #EBEEF3;
  }

  .citeText:before {
      content: "\2014 \2009";
  }
  .citeText{
    font-size: 0.7rem;
    position: relative;
    top: -5px;
  }
  .testimonialText{
    line-height: 20px;
  }
  .ipadImage{
    display: block;
    margin: auto;
    height: 285px;
  }
  #testimonial .textRight{
    height: 285px;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
  }
  #testimonial .nameText{
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .testimonialText:before{
    content: "\201C";
    font-size: 80px;
    position: relative;
    top: 30px;
    padding-top: -30px;
    margin-right: 5px;
  }
  .img-circle{
    border: 2px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    margin-left: 30px;
    margin-right: 20px;
  }

 /*Old stuff for testimon*/

 /********************************/
/*          Main CSS     */
/********************************/


#first-slider .main-container {
  padding: 0;
}


#first-slider .slide1 h3, #first-slider .slide2 h3, #first-slider .slide3 h3, #first-slider .slide4 h3{
    color: #fff;
    font-size: 30px;
      text-transform: uppercase;
      font-weight:700;
}

#first-slider .slide1 h6,#first-slider .slide2 h6,#first-slider .slide3 h6,#first-slider .slide4 h6{
    color: #fff;
}
#first-slider .slide1 .text-left ,#first-slider .slide3 .text-left{
    padding-left: 40px;
}


#first-slider .carousel-indicators {
  bottom: 0;
}
#first-slider .carousel-control.right,
#first-slider .carousel-control.left {
  background-image: none;
}
#first-slider .carousel .item {
  min-height: 425px; 
  height: 100%;
  width:100%;
}

.carousel-inner .item .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
        max-width: 900px;
}


#first-slider h3{
  animation-delay: 1s;
}
#first-slider h6 {
  animation-delay: 2s;
}
#first-slider h2 {
  animation-delay: 3s;
}


#first-slider .carousel-control {
    width: 6%;
        text-shadow: none;
}


#first-slider h1 {
  text-align: center;  
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}

#first-slider .p {
  padding-top: 125px;
  text-align: center;
}

#first-slider .p a {
  text-decoration: underline;
}
#first-slider .carousel-indicators li {
    width: 14px;
    height: 14px;
    background-color: rgba(255,255,255,.4);
  border:none;
}
#first-slider .carousel-indicators .active{
    width: 16px;
    height: 16px;
    background-color: #fff;
  border:none;
}


.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-control .fa-angle-right, .carousel-control .fa-angle-left {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.carousel-control .fa-angle-left{
    left: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}
.carousel-control .fa-angle-right{
    right: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}
.carousel-control {
    opacity: 1;
    filter: alpha(opacity=100);
}


/********************************/
/*       Slides backgrounds     */
/********************************/
#first-slider .slide1 {
    background-image: url(/assets/images/review2.jpg);
      background-size: cover;
    background-repeat: no-repeat;
}
#first-slider .slide2 {
  background-image: url(/assets/images/review1.jpg);
      background-size: cover;
    background-repeat: no-repeat;
}

  #monitor .monitor{
    background-color: #E2E5EA;
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }


  /*social media icons*/
  #shareicon{
    margin-bottom: 30px;
    height: 100%;
  }

  #shareicon ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
  }

 #shareicon ul.social-network li {
    display: inline;
    margin: 0 5px;
  }

  #shareicon .social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
  }
  #shareicon .social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
  }

  #shareicon .social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  #shareicon .social-circle i {
    color: #262526;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }

  #shareicon a {
   background-color: transparent;
   border: 2px solid #262526;
  }


  #shareicon .shareText{
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: bolder;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 10px;
  }

.main-header{
  text-align: center;
  color: white;
  font-size: 8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.main-description{
  text-align: center;
  color: white;
  margin-bottom: 5rem;
  font-weight: 500;
}
.laptop-title{
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 300;
}
#mobile2{
  background: center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
    display: block;
}
.mobile-title{
  color: #333333;
  font-weight: 500;
  font-size: 42px;
}
.mobile-header{
  text-align: center;
  color: black;
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.mobile-description{
  text-align: center;
  color: black;
  margin-bottom: 5rem;
  font-weight: 400;
}
.laptop-header{
  text-align: center;
  font-weight: 500;
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
}
.laptop-description{
  text-align: center;
  margin-bottom: 5rem;
  font-size: 2rem;
  font-weight: 400;
  color: grey;
}
.title-slate{
  text-align: center;
}
.summary-mobile{
  line-height: 1.8;
  font-size: 1.50rem;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  color: black;
  font-weight: 300;
}
.summary-mobile-popup{
  line-height: 2.8;
  font-size: 1.75rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 5rem;
  text-align: justify;
  color: black;
  font-weight: 300;
  margin: 5rem;
}

.summary-laptop{
  line-height: 1.8;
  font-size: 1.75rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 5rem;
  text-align: center;
}
#row1{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#row2{
  background-color: white;
}
#row3{
  background-color: #EAEAEA;
}
#row5{
  background-color: white;
  padding: 2rem;
}
#row4-laptop1, #row4-laptop2, #row4-laptop3{
  background-color: white;
  transition: all .3s ease-in-out;
  width: 100vw;
  height: 100vh;
}
#row2-mobile1, #row2-mobile2, #row2-mobile3{
  background-color: white;
  transition: all .3s ease-in-out;
  width: 100vw;
  height: 100vh;
}
.laptop1-container {
   position: relative;
}
.tag {
   position: absolute;
   top: 0px;
   z-index: 2;
   width:400px;
   margin-left:-200px;
   left:35%;
   background-color: white;
}
.glyphicon{
       color: #60ACAB;
       font-size: 3.0rem;
}
.tasks{
  text-align: center;
}
.summary-task{
  line-height: 2.0;
  font-size: 1.50rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
  color: #818889;
}
.mobile-block{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 350px;
  padding: 100px;
}
.mobile-image{
  padding: 0 !important;
  margin: 0 !important;
}
